.Item {
  padding: 0 0 0 4px;
  width: 100%;

  .Item {
    margin-left: 1rem;
  }

  &.Item__Focused {
    background: rgba(45, 170, 219, 0.1);
  }

  &.Item__Selected {
    background: rgba(45, 170, 219, 0.3);
  }

  .Item--Placeholder {
    color: $color-text-hint;
  }

  &.TextItem {
  }

  &.BulletedItem {
    &.BulletedItem > .CommandText {
      padding-left: 1rem;
      position: relative;

      &::before {
        position: absolute;
        top: 0.8rem;
        left: 0.3rem;
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        content: '';
        background: $color-text;
      }
    }
  }

  &.NumberedItem {
    counter-reset: number 0;

    &.NumberedItem > .CommandText {
      &::before {
        display: inline-block;
        width: 1rem;
        text-align: center;
        counter-increment: number 1;
        content: counter(number) '.';
      }
    }

    & + .NumberedItem {
      counter-reset: none;
    }
  }
}
