.Item {
  $indent: 1.5rem;

  padding: 0 0 0 4px;
  width: 100%;
  max-width: 764px;
  margin: 0 auto;

  &.Item__Indent1 {
    margin-left: calc($indent * 1);
  }

  &.Item__Indent2 {
    margin-left: calc($indent * 2);
  }

  &.Item__Indent3 {
    margin-left: calc($indent * 3);
  }

  &.Item__Indent4 {
    margin-left: calc($indent * 4);
  }

  &.Item__Indent5 {
    margin-left: calc($indent * 5);
  }

  &.Item__Indent6 {
    margin-left: calc($indent * 6);
  }

  &.Item__Indent7 {
    margin-left: calc($indent * 7);
  }

  &.Item__Indent8 {
    margin-left: calc($indent * 8);
  }

  .Item--Text {
    display: inline-block;
    width: 100%;

    &.Item--Text__Focused {
      background: $color-grey-50;
    }
  }

  .Item--Placeholder {
    color: $color-text-hint;
    display: inline-block;
    width: 100%;

    &.Item--Placeholder__Focused {
      background: $color-grey-50;
    }
  }

  &.Item__Selected {
    background: rgba(45, 170, 219, 0.3);
  }

  &.TextItem {
  }

  &.BulletedItem {
    &.BulletedItem > .CommandText {
      padding-left: 1rem;
      position: relative;

      &::before {
        position: absolute;
        top: 0.8rem;
        left: 0.3rem;
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        content: '';
        background: $color-text;
      }
    }
  }

  &.NumberedItem {
    counter-reset: number 0;

    &.NumberedItem > .CommandText {
      &::before {
        display: inline-block;
        width: 1rem;
        text-align: center;
        counter-increment: number 1;
        content: counter(number) '.';
      }
    }

    & + .NumberedItem {
      counter-reset: none;
    }
  }
}
