.Pencil {
  width: 100%;

  &hover {
    cursor: text;
  }

  &::placeholder {
    color: transparent;
  }

  &:focus {
    &::placeholder {
      color: $color-text-hint;
      opacity: 1;
    }
  }
}
